/* font-family: 'Roboto', sans-serif; */
/* #210e43 => for text */


/* Code to check grid layout */
/* .col {
  border: solid 1px blue;
  margin: 2px;
}
.row {
  border: solid 1px red;
  margin: 2px;
}  */
/* .container-fluid {
  border: solid 1px purple;
  margin: 10px;
}
/* End Code to check grid layout */

/* html, body { height: 100%;} */

.App {
  text-align: center;
}

body {
  background-image: url(./imgs/blob3.svg),url(./imgs/blob.svg), url(./imgs/blob2.svg);
  background-repeat: no-repeat;
  background-size: 500px, 100px, 150px;
  background-position: -90px -0px, center top, bottom right;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

div.tab-content {
  border:none;
}
/* .navbar-light .navbar-nav a.active.nav-link:hover {
  border-bottom: 2px solid #1f2f98; ;
  text-decoration: #1f2f98;
} */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff !important;
  background-color: #1f2f98 !important;
  border-top-left-radius: 20px;
  border:none;
}

li.nav-item:hover {
  border: none;
}

div.tab-pane.active {
  background-color: #1f2f98 !important;
  color: #ffffff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}

.nav-tabs .nav-link {
  border: none;
}

div.tab-content {
  height: 100%;
}

ul.navbar-nav {
  font-size: 12px;
}
a.nav-link {
  color: #333333 !important;
}
.navlogotext {
  color: #1f2f98 !important;
  font-weight: bold;
}
.pre-header {
  margin-bottom: 5px;
  font-size: 12px;
}
.heading {
  margin-bottom: 20px;
  color: #210e43;
}

.subheading {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #210e43;
}

Button.MuiButton-root.ctahome{
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(to bottom right, #787ff6 0%, #4adede 100%);
  padding:12px 30px;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

Button.MuiButton-root.ctahome:hover{
  color: white;
}

.errormess {
  color:red;
}

.mainContainer{
  padding-top: 10px;
}

/* .tabscontainer {
  margin-left: 20px;
  margin-bottom: 5px;
} */

.featuresheader {
  color: #210e43;
  text-align: center;
}

.home-image {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.homeLoginButton {
border-radius: 20px;
border: none;
background: linear-gradient(to bottom right, #787ff6 0%, #4adede 100%);
color: #210e43;
font-weight: bold;
font-size: 12px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  border-radius: 20px;
  font-weight: bold;
font-size: 12px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text:hover{
  background: linear-gradient(to bottom right, #787ff6 0%, #4adede 100%);
color: #210e43;
font-weight: bold;
font-size: 12px;
}

div.modal {
  color: #210E43;
  text-align: center;
}

.modal-title {
  text-align: center;
}

img.card-img-top {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.budgetCard {
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  padding-top: 20px;
}

button.budgetButton {
  border-radius: 20px;
  border: none;
  background: linear-gradient(to bottom right, #787ff6 0%, #4adede 100%);
  color: #210e43;
  font-weight: bold;
  font-size: 12px;
  }


  button.budgetButton :hover{
  color: white;
}
  /* List Budget Styling */

  .moneyInHeader {
    background-color: #7bd5f5;
    border-radius: 5px;
    color:white;
    padding: 5px;
  }

  .moneyOutHeader {
    background-color: #787ff6;
    border-radius: 5px;
    color:white;
    padding: 5px;
  }

  .moneyLeftOverHeader {
    background-color: #1f2f98;
    border-radius: 5px;
    color:white;
    padding: 5px;
  }

  .list-group-item {
    border: none;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px !important;
    margin-bottom: 5px;
    text-align: left;
  }