/* font-family: 'Roboto', sans-serif; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Code to check grid layout */
/* .col {
  border: solid 1px blue;
  margin: 2px;
}
.row {
  border: solid 1px red;
  margin: 2px;
} */
/* .container-fluid {
  border: solid 1px purple;
  margin: 10px;
} */
/* End Code to check grid layout */

html, body { height: 100%;}


h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

div.tab-content {
  border:none;
}
a.active.nav-link {
  color: #ffffff !important;
  background-color: #1f2f98 !important;
}

div.tab-pane.active {
  background-color: #1f2f98 !important;
  color: #ffffff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
}

div.tab-content {
  height: 100%;
}

a.nav-link {
  color: #333333 !important;
}
.navlogotext {
  color: #1f2f98 !important;
  font-weight: bold;
}
.pre-header {
  margin-bottom: 5px;
  font-size: 12px;
}
.heading {
  margin-bottom: 20px;
  color: #210e43;
}

.subheading {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #210e43;
}

.ctahome {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(to bottom right, #787ff6 0%, #4adede 100%);
  padding:12px 30px;
  border: none;
  font-weight: bold;
  font-size: 12px;
}

.featuresheader {
  color: #210e43;
}

.home-image {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
